.App {
  margin: 0 auto;
  overflow: hidden;
  height: 1500px;
  text-align: center;
  background: rgb(150,196,222);
  background: radial-gradient(circle, rgba(150,196,222,1) 0%, rgba(88,140,170,1) 100%);
}

.content{

}
